@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


/* Testimonial */
.swiper {
  width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}


/* FINDER */
.custom-width-material-tailwind div.h-10 {
    min-width: 100%;
}

